<h1>Editing measurement_type</h1>

<%= error_messages_for :measurement_type %>

<% form_for(@measurement_type) do |f| %>
  <p>
    <b>Category</b><br />
    <%= f.text_field :category_id %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @measurement_type %> |
<%= link_to 'Back', measurement_types_path %>
