<h1>New measurement</h1>

<%= error_messages_for :measurement %>

<% form_for([@qcsession, @measurement]) do |f| %>
  <p>
    Measurement_type<br /> 
    <%= 
      collection_select(:measurement, :measurement_type_id, @measurement_types, :id, :name, {:prompt => true})
    %>
  </p>

  <p>
    <b>Value</b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', qcsession_measurements_path %>
