<p>
  <b>Measurement type:</b>
  <%=h @measurement.measurement_type_id %>
</p>

<p>
  <b>Qcsession:</b>
  <%=h @measurement.qcsession_id %>
</p>

<p>
  <b>Value:</b>
  <%=h @measurement.value %>
</p>

<p>
  <b>Machine:</b>
  <%=h @measurement.machine_id %>
</p>


<%= link_to 'Back', url_for([@qcsession,@measurement]) %>

<%= link_to 'Back', edit_qcsession_measurement_path %>
